body{
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

h1{
    font-size: 45px;
}
h2{
    font-size: 35px;
}
p{
    color: dimgray;
}

.orange-highlight{
    color: orange;
}

.half-width{
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;
}
.half-width img{
    width: 100%;
}

.top-banner{
    background-image: url("images/top-banner.png");
    background-repeat: no-repeat;
}

section{
    height: 450px;
    padding-bottom: 100px;
}

.link-button{
    text-decoration: none;
    background-image: linear-gradient(45deg, lightsalmon, tomato );
    padding: 5px 15px;
    border-radius: 5px;
    color: white;
    font-weight: 700;
}

.dream-area{
    background-image: url("images/dream-bg.png");
    background-repeat: no-repeat;
    background-position: right;
}

.single-experience{
    box-shadow: 10px 10px 40px grey;
    border-radius: 5px;
    height: 75%;
}
.experience-area{
    background-image: url("images/exp-bg.png");
    background-repeat: no-repeat;
    background-position: left;
}

#fill-stack{
    border-left: 7px solid;
    border-image: linear-gradient(360deg, lightsalmon, tomato);
    border-image-slice: 1;
}
#baby-web{
    border-left: 7px solid;
    border-image: linear-gradient(360deg, blue, cyan);
    border-image-slice: 1;
}

footer p{
    text-align: center;
    font-size: 13px;
}